<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<a type="button" class="btn btn-primary" href="/movies">Back to movies list</a>
<br/>
<h3>Orders:</h3>
<form th:method="get" th:action="@{/clientOrders}">
    <label for="searchByTitle">Search by title:</label>
    <input type="text" id="searchByTitle" name="searchByTitle">
    <button type="submit">Search</button>
</form>
<form th:method="get" th:action="@{/clientOrders}">
    <label for="searchByClient">Search by client:</label>
    <input type="text" id="searchByClient" name="searchByClient">
    <button type="submit">Search</button>
</form>
<form th:method="get" th:action="@{/clientOrders}">
    <p>Search by date:</p>
    <label for="dateFrom">From:</label>
    <input type="datetime-local" id="dateFrom" name="dateFrom">
    <label for="dateTo">To:</label>
    <input type="datetime-local" id="dateTo" name="dateTo">
    <button type="submit">Search</button>
</form>
<th:block th:each="order: ${orders}">
    <p >User name: <span th:text="${order.getUser().getUsername()}"></span></p>
    <p >Movie: <span th:text="${order.getMovieTitle()}"></span></p>
    <form method="post" th:action="@{'/clientOrders/edit/{id}' (id=${order.getId()})}">
        <input id="id" type="hidden" name="id"
               th:value="${order.getId()}">
        <label for="numTickets">Number of tickets:</label>
        <input type="text"
               class="form-control"
               id="numTickets"
               name="numTickets"
               th:value="${order.getNumberOfTickets()}"
               required>
            <button id="submit" type="submit" class="btn btn-primary">Save number of tickets</button>
    </form>
    <p>Date created: <span th:text="${order.getDateCreated()}"></span></p>
    <form method="post" th:action="@{'/clientOrders/delete/{id}' (id=${order.getId()})}" id="delete">
        <button form="delete" type="submit" class="btn btn-primary">Delete order</button>
    </form>
</th:block>
</body>
</html>